<div data-role="view" data-title="View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow" id="homeScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.home.title"></span>

        </div>
    </header>
    
    

    <table width="100%">
        <tr id="aScan" style="display:none">
            <td style="text-align: center;">
                <hidden id="scanCount"></hidden>
                <a style="background: deepskyblue; color:white" onclick="app.home.localScan()" data-role="button" data-icon="camera"></a>
            </td>
        </tr>
        <tr>
            <td id="imgScanned">
                
            </td>
        </tr>
        <tr id="trInput">
            <td style="text-align: center;">
                <div class="entranceFade third">
                    <div class="header" style="font-size: large; font-weight: bold;">Scanned reading</div>
                    <input type="number" id="txtText"/>                    
                </div>
            </td>            
        </tr>
        <tr id="trSave">
            <td style="text-align:center">
                <a style="background: deepskyblue; color:white" onclick="app.home.addResult()" data-role="button">Save</a>
                <a style="background: deepskyblue; color:white" onclick="app.home.cancelResult()" data-role="button">Retry</a>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <div id="output"></div>
            </td>
        </tr>
        <tr id="trNewRead">
            <td style="text-align: center">
                <a style="background: deepskyblue; color:white" onclick="app.home.newScan()" data-role="button">New readings</a>
            </td>
        </tr>
        <tr style="display:none;" id="trContinue">
            <td style="text-align: center;">
                <textarea style="display:none;" height="10%" id="txtTextContinue"></textarea><br/>
                <a style="background: deepskyblue; color:white" onclick="app.home.takeNewRead()" data-role="button">Continue</a>
            </td>
        </tr>
    </table>


    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>